<ul>
    <li>
        <button type="button" class="full-screen" ng-click="menuCtrl.fullScreen()" ng-show="menuCtrl.fullScreenSupported" title="Toggle full screen"></button>
    </li>
    <li>
        <button type="button" class="zoom-in" ng-click="menuCtrl.zoomIn()" title="Zoom in"></button>
    </li>
    <li>
        <button type="button" class="zoom-out" ng-click="menuCtrl.zoomOut()" title="Zoom out"></button>
    </li>
    <li>
        <button type="button" class="zoom-to-extent" ng-click="menuCtrl.zoomToExtent()" title="Zoom to default extent"></button>
    </li>
</ul>