<ul>
    <li>
        <button type="button" class="layer-control" ng-click="menuCtrl.openPanel('layers')" title="Open layers control panel"></button>
    </li>
    <li>
        <button type="button" class="add-layer" ng-click="menuCtrl.openPanel('source')" title="Open panel to add layers"></button>
    </li>
    <li>
        <button type="button" class="filters" ng-click="menuCtrl.openPanel('filters')" title="Open panel to filter"></button>
    </li>
    <li>
        <button type="button" class="process" ng-click="menuCtrl.openPanel('process')" title="Open process panel"></button>
    </li>
    <li>
        <button type="button" class="settings" ng-click="menuCtrl.openPanel('settings')" title="Open settings panel"></button>
    </li>
</ul>